Package: tros-hobot-audio
Version: 1.1.7
Section: utils 
Architecture: arm64
Installed-Size: 113000000
Depends: tros (>=1.1.7) 
Maintainer: kairui.wang <kairui.wang@horizon.ai"> 
Description: TogetheROS Hobot Audio
