Package: hobot-models-basic
Version: 1.0.0
Section: utils 
Architecture: amd64
Installed-Size: 472000
Pre-Depends: 
Depends:
Maintainer: kairui.wang <kairui.wang@horizon.ai style="word-wrap: break-word;"> 
Description: Basic models
