Package: tros-performance-test
Version: 1.0.0
Section: utils 
Architecture: arm64
Installed-Size: 58000000
Depends: tros (>=1.1.2) 
Maintainer: kairui.wang <kairui.wang@horizon.ai style="word-wrap: break-word;"> 
Description: TogetherROS
